.venv
.mypy_cache
.ipynb_checkpoints
.vscode
data/*
!data/pavasario_balsai.txt
!data/.gitkeep
!data/poetry
!data/process_data.py
!data/download.sh

__pycache__

multirun
outputs
wandb
output_models
lightning_logs
artifacts/*
!artifacts/.gitkeep
.env
